[submodule "Include/ThirdParty/imgui"]
	path = Include/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Include/ThirdParty/stb"]
	path = Include/ThirdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Test/Catch2"]
	path = Test/Catch2
	url = https://github.com/catchorg/Catch2
